<!DOCTYPE html>
<html>
  <head>
    <title>Explorers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
       <style>
          #banner{
            height:  360px;
            width: 100%;
            object-fit:cover;
          }
    </style>
  </head>
  <body>
    <div class="container">
       <h1 class="text-center mt-2 mb-4">{{club}}</h1>
      <img class="img-fluid" id="banner" src="/static/1.jpg" >
      <h2 class="text-center mt-4 mb-4">about</h2>
      <p class="lead">
    Quisque ornare nunc at tortor mattis efficitur. Aliquam consequat, arcu vitae volutpat tincidunt, ligula nisi ultricies quam, sit amet mollis magna mi et neque. Cras non rhoncus purus. Suspendisse at dignissim leo. Praesent ultricies mi magna, eget volutpat turpis semper nec. Duis viverra ex eu tempor porta. Sed vestibulum neque mi, feugiat accumsan arcu rhoncus nec. Praesent libero elit, cursus quis facilisis scelerisque, viverra et turpis. Nulla facilisi. Donec molestie ligula sapien, id malesuada tortor pharetra et. Cras vulputate massa mauris, nec gravida dui dignissim ac.
      </p>
      <h2  class="text-center">shooters</h2>
      <p>  
        <div class="row">
          {% for shooter in shooters %}
          <div class="col-9">
          <h4 style="margin-top:5px">
            {{shooter.name}}
          </h4>
          <div>
           <b>SID: </b> {{shooter.sid}}
          </div>
          <div>
            <b>CLASS: </b> {{shooter.class}}
          </div>
          </div>
          <div class="col-3">
          <button type="button" class="btn btn-outline-primary">Apply</button>
          </div>
          {% endfor %}
        </div>
        </p>
    <div>
      <button id="contactbutton">contact us</button>
        <p>  
      note
          </p>
    </div>
    </div>
  </body>
</html>